@mixin column-sizes {
  display: flex;

  > .col-1, > .col-2, > .col-3, > .col-4, > .col-5, > .col-6,
  > .col-7, > .col-8, > .col-9, > .col-10, > .col-11, > .col-12 {
    flex-grow: 0;
    flex-shrink: 0;
  }

  > .col-12 {
    width: 100%;
  }
  > .col-11 {
    width: 91.666666%;
  }
  > .col-10 {
    width: 83.333333%;
  }
  > .col-9 {
    width: 75%;
  }
  > .col-8 {
    width: 66.666666%;
  }
  > .col-7 {
    width: 58.333333%;
  }
  > .col-6 {
    width: 50%;
  }
  > .col-5 {
    width: 41.666666%;
  }
  > .col-4 {
    width: 33.333333%;
  }
  > .col-3 {
    width: 25%;
  }
  > .col-2 {
    width: 16.666666%;
  }
  > .col-1 {
    width: 8.333333%;
  }
}

.row {
  display: block;
  margin-left: -.8rem;
  margin-right: -.8rem;

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
  .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding-left: .8rem;
    padding-right: .8rem;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &.gutter-24 {
    margin-left: -1.2rem;
    margin-right: -1.2rem;

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
    .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      display: block;
    }
  }
}



@media (min-width: $media1-width) {
  .row.break-1 {
    @include column-sizes;
  }
  .media-hide-1 {
    display: none !important;
  }
}
@media (min-width: $media2-width) {
  .row.break-2 {
    @include column-sizes;
  }
  .media-hide-2 {
    display: none !important;
  }
}
@media (min-width: $media3-width) {
  .row.break-3 {
    @include column-sizes;
  }
  .media-hide-3 {
    display: none !important;
  }
}
@media (min-width: $media4-width) {
  .row.break-4 {
    @include column-sizes;
  }
  .media-hide-4 {
    display: none !important;
  }
}
@media (min-width: $media5-width) {
  .row.break-5 {
    @include column-sizes;
  }
  .media-hide-5 {
    display: none !important;
  }
}
@media (min-width: $media6-width) {
  .row.break-6 {
    @include column-sizes;
  }
  .media-hide-6 {
    display: none !important;
  }
}
@media (min-width: $media7-width) {
  .row.break-7 {
    @include column-sizes;
  }
  .media-hide-7 {
    display: none !important;
  }
}

@media (max-width: $media1-width - 1) {
  .media-show-1 { display: none !important }
}
@media (max-width: $media2-width - 1) {
  .media-show-2 { display: none !important }
}
@media (max-width: $media3-width - 1) {
  .media-show-3 { display: none !important }
}
@media (max-width: $media4-width - 1) {
  .media-show-4 { display: none !important }
}
@media (max-width: $media5-width - 1) {
  .media-show-5 { display: none !important }
}
@media (max-width: $media6-width - 1) {
  .media-show-6 { display: none !important }
}
@media (max-width: $media7-width - 1) {
  .media-show-7 { display: none !important }
}

// placeholders for intellisense
.media-hide-1 {}
.media-hide-2 {}
.media-hide-3 {}
.media-hide-4 {}
.media-hide-5 {}
.media-hide-6 {}
.media-hide-7 {}

.media-show-1 {}
.media-show-2 {}
.media-show-3 {}
.media-show-4 {}
.media-show-5 {}
.media-show-6 {}
.media-show-7 {}
